<div>Finaliza tu compra</div>
<p>Código de Compra # {{this.code}}</p>
<p>Fecha: {{this.purchase_dateTime}}</p>
<p>Total: ${{this.amount}}.-</p>
<p>Correo Usuario: {{this.purchaser}}</p>

<form action=""><button>Comprar</button></form>