<div class="header">
  <h2>PERFIL</h2></div>
<div class="datos">
  <p>Usuario: {{user.full_name}}</p>
</div>
<form action="/api/sessions/logout" method="POST">
  <button class="cerrarSesion" type="submit">Cerrar Sesión</button>
</form>