<form class="registerForm" action="/api/sessions/register" method="POST">
  <h2>Registro</h2>
  <label for="first_name">Nombre:</label>
  <input type="text" name="first_name" required />
  <label for="last_name">Apellido:</label>
  <input type="text" name="last_name" required />
  <label for="email">Email:</label>
  <input type="email" name="email" required />
  <label for="age">Edad:</label>
  <input type="number" name="age" required />
  <label for="password">Contraseña:</label>
  <input type="password" name="password" required />
  <button class="submitButton" type="submit">Registrarse</button>
  <a href="/login">Volver</a>
</form>