* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 100vh;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.registerForm {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0px 0px 10px rgb(57, 11, 165);
  border-radius: 5px;
  margin: auto auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  width: 350px;
}
.submitButton {
  background-color: blue;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid blue;
  border-radius: 5px;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}
input {
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: 1px solid gray;
}

a {
  text-align: center;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
}
a:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
}
